.fetch{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
}
.fetch:hover{
    background-color: rgb(74, 181, 62);
    color: #fff;
    cursor: pointer;
    transition: 2s;
    transform: scale(1);
}
